@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}



body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  padding: 10px;
  min-height: 100vh;
  font-size: 1 rem
}